.buttonBar {
    width: 100%;
    height: 45px;

}
.mainBody {
    height: auto;
    border: 2px solid red;
}
.menuTop {
    width:1300px;
    min-height:120px;
    margin-right: 200px;
    margin-left: 200px;
}

.menuTop div {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.rootView {
    background-color: lightgrey;
    display: block;
    position: relative;
}
.topDiv {
    width:1300px;
    height:100px;
    margin-right: 200px;
    margin-left: 200px;
    position: relative;
}

.midDiv {
    min-width:400px;
    min-height:5px;

}

.loginLink {
    padding-left: 50px;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.registerLink {

    padding-bottom: 30px;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    right: 50px;
}
.cont {
    width: 100%;
    height: 100%;
}
.regPanel {
    margin: auto;
    width: 450px;
}
.buttonReg {
    padding-left: 90px;
    width: 300px;
}

.mainCenter {
    width:1300px;
    min-height:800px;
    margin-right: 200px;
    margin-left: 200px;

}

body {
    display: block;
    position: relative;
    background-color: lavender;
}