<?xml version="1.0" encoding="UTF-8"?>
<!-- This descriptor is only for testing features. It is not included or propagaded to other modules. -->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <welcome-file-list>
        <welcome-file>template.xhtml</welcome-file>
    </welcome-file-list>

    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>template</web-resource-name>-->
            <!--<url-pattern>/template.xhtml</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<auth-constraint>-->
            <!--<role-name>ADMIN</role-name>-->
            <!--<role-name>USER</role-name>-->
        <!--</auth-constraint>-->
    <!--</security-constraint>-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>users list</web-resource-name>
            <url-pattern>/users_list.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>

    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-role>
        <role-name>USER</role-name>
    </security-role>
</web-app>
